<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피자 상세보기</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container" id="container">
    <h1>피자 상세정보</h1>
    <div id="pizza-detail">
        <img class="pizza-img" src="/images/default-pizza.png">
        <p><strong>이름 : </strong><span id="pizza-name"></span> </p>
        <p><strong>가격 : </strong><span id="pizza-price"></span> </p>
        <p><strong>설명 : </strong><span id="pizza-description"></span> </p>
    </div>
    <!-- 상세정보 / 수정 / 삭제 버튼 추가 -->
    <div class="buttons">
        <a id="edit-button" class="btn">수정</a>
        <button id="delete-button" class="btn">삭제</button>
        <a href="/pizzas" class="btn">목록으로 이동하기</a>
    </div>
</div>

<script>
    const params = new URLSearchParams(window.location.search);
    const id = params.get("id") // id 키 를 이용해서 값을 가져오기!

    // 상세보기 url 설정
    $.ajax({
       // url:"/api/pizzas/" + id,
        url:`/api/pizzas/${id}`,
        method:"GET",
        success: function (data){
            $("#pizza-name").text(data.name);
            $("#pizza-description").text(data.description);
            $("#pizza-price").text(data.price);
            // 피자 이미지가 DB에 존재할 경우 img src 변경
            $("#edit-button").attr("href",`/pizzas/edit?id=${id}`);
            if (data.imagePath) {
                $(".pizza-img").attr("src", data.imagePath);
            }
        },
        error: function (){
            alert("피자 정보를 가져올 수 없습니다.");
           // error status NUMBER = 숫자 숫자 의미
            // 405 클라이언트가 서버에 허용되지 않는 메서드 요청을 보낼 때
            // 피자 목록으로 돌려보내기
           window.location.href = "/pizzas";
        }
    })



    // 삭제
    $('#delete-button').on('click',function (){
        if (confirm("정말 삭제하시겠습니까?")) {
            $.ajax({
                url: `/api/pizzas/${id}`,
                method: 'delete',
                success: function (data) {
                    alert("피자가 삭제되었습니다.");
                    window.location.href = "/pizzas"; // location 현재 보고있는 페이지 reload 새로고침 하기
                },
                error: function (data) {
                    alert("컨트롤러에서 문제가 발생하여 삭제할 수 없습니다.");
                }
            })
        }
    })

    // 수정하는 html 이동하는 url 설정
</script>
</body>
</html>