<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.store.kh.GeneralStore.mapper.CafeMapper">
    <!-- 모든 카페 조회 -->
    <select id="selectAllCafes">
        SELECT * FROM cafes ORDER BY created_at DESC;
    </select>

    <!-- 특정 카페 조회 -->
    <select id="selectCafeById">
        SELECT * FROM cafes WHERE id = #{id};
    </select>

    <!-- 카페 추가 -->
    <insert id="insertCafe" >
        INSERT INTO cafes (name, address, phone_number, opening_time, closing_time, description)
        VALUES (#{name}, #{address}, #{phoneNumber}, #{openingTime}, #{closingTime}, #{description});
    </insert>

</mapper>