<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.store.kh.GeneralStore.mapper.PizzaMapper">
    <!--피자 전체 조회하기-->
    <select id="selectAll">
        SELECT * FROM PizzaMenu
    </select>
    <!--피자 찾기-->
    <select id="selectById">
        select *
        from PizzaMenu
        where id = #{id}
    </select>
    <!--피자 수정하기-->
    <update id="updatePizza">
        update PizzaMenu
        set
            name = #{name},
            price = #{price},
            description = #{description},
            imagePath = #{imagePath}
        where id = #{id}
    </update>
    <!--피자 추가하기-->
    <insert id="insertPizza">
        insert into PizzaMenu(name,price,description,imagePath)
        values  name = #{name},
            price = #{price},
            description = #{description},
            imagePath = #{imagePath}
    </insert>
    <!--피자 삭제하기-->
    <delete id="deletePizza">
        DELETE
        FROM PizzaMenu
        WHERE id = #{id}
    </delete>

</mapper>