<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>피자 메뉴 관리</title>
  <link href="/css/pizza-style.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1>피자 메뉴</h1>
  <table id="pizza-list">
    <thead>
    <tr>
      <th>이름</th>
      <th>가격</th>
      <th>이미지</th>
      <th>액션</th>
    </tr>
    </thead>
    <tbody>
    <!-- JQuery로 데이터 추가 -->
    </tbody>
  </table>
  <a href="/add-pizza.html">메뉴 추가</a>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
  $.ajax({
    url: '/api/pizzas',
    method: 'get',
    success: function (data) {
      // each
      $.each(data, function (index, pizza) {
        $('#pizza-list tbody').append(`
                        <tr>
                            <td>${pizza.name}</td>
                            <td>${pizza.price}</td>
                            <!-- 이미지가 보이지 않으면 삼항 연산자로 default-pizza.png 보여주기 -->
                            <td><img src="${pizza.image ? pizza.image : "/images/default-pizza.png"}" style="width: 50px;"></td>
                            <td>
                            <a href="/pizzas/detail?id=${pizza.id}">상세보기</a>
                                <a href="">수정</a>
                                <button onclick="deletePizza(${pizza.id})">삭제</button>
                            </td>
                        </tr>
                    `)
      })

    },
    error: function (data) {
      alert("백엔드에서 데이터를 가져올 수 없습니다.");
    }
  })
  // 특정 id 의 deletePizza 버튼을 클릭하면
  function deletePizza(id){
    if (confirm("정말 삭제하시겠습니까?")){
      $.ajax({
        url:`/api/pizzas/${id}`,
        method: 'delete',
        success: function (data){
          alert("메뉴가 삭제되었습니다.");
          location.reload(); // location 현재 보고있는 페이지 reload 새로고침 하기
        },
        error: function (data){
          alert("컨트롤러에서 문제가 발생하여 삭제할 수 없습니다.");
        }
      })
    }
  }
</script>
</body>
</html>