<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.edu.react.provider.mapper.ClothesMapper">

    <select id="getAllClothes">
        SELECT * FROM clothes_store
    </select>

    <select id="getClothesById">
        SELECT * FROM clothes_store WHERE c_id = #{Id}
    </select>

    <insert id="insertClothes">
        INSERT INTO clothes_store (c_name, c_category, c_brand, c_color, c_size, c_material, c_price, c_stock, c_gender, c_season)
        VALUES (#{Name}, #{Category}, #{Brand}, #{Color}, #{Size}, #{Material}, #{Price}, #{Stock}, #{Gender}, #{Season})
    </insert>

    <update id="updateClothes">
        UPDATE clothes_store
        SET c_name = #{Name}, c_category = #{Category}, c_brand = #{Brand},
            c_color = #{Color}, c_size = #{Size}, c_material = #{Material},
            c_price = #{Price}, c_stock = #{Stock}, c_gender = #{Gender}, c_season = #{Season}
        WHERE c_id = #{Id}
    </update>

    <delete id="deleteClothes">
        DELETE FROM clothes_store WHERE c_id = #{Id}
    </delete>
</mapper>